
* {
  padding: 0;
  margin: 0;
}

.logo {
  float: left;
}

#button {
  width: 150px;
  height: 50px;
  padding: 15px;
  border: 5px double grey;
}

#navigation-container {
    border: 2px solid black;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/*the game place */

.container {
    width: 600px;
    height: 400px;
    position: relative;
    border: 2px solid black;
    display: flex;
    flex-wrap: wrap;
  }

.container div{
    width: 30px;
    height: 30px;  
    border: 1px solid red;
  }

.monster {  
  background-color: green;
  }

.spaceShip{
  background-color: pink;
  }

  .laser {
  background-color: red;     
  } 

  .blast{
    background-color: purple
  }
