
* {
  padding: 0;
  margin: 0;
}

.logo {
  float: left;
}

#button {
  width: 150px;
  height: 50px;
  padding: 15px;
  border: 5px double grey;
}

#navigation-container {
    border: 2px solid black;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/*the game place */

.container {
    width: 600px;
    height: 400px;
    position: relative;
    border: 2px solid black;
    display: flex;
    flex-wrap: wrap;
  }

.container div{
    width: 30px;
    height: 30px;  
    border: 1px solid red;
  }

.monster {  
  background-color: green;
  }

.spaceShip{
  background-color: pink;
  }


/*

  #monstersContainer {  
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(4, 1fr);    
    position: absolute;
    left: 150px;
  }
  .monster {
    width: 40px;
    height: 40px;    
    background-color: rgb(25, 127, 46);
    margin: 5px;
  }


  
/* need to be position absolute as he is below  */
/*#spaceShip{
    position: absolute;
    left:250px;
    bottom:20px;
    width: 50px;
    height: 80px;
  }


.laser {
  width: 10px;
  height: 10px;
  background-color: red;     
  position: absolute;
}*/
*/