
* {
  padding: 0;
  margin: 0;
}


#navigation-container{
  border: 2px solid black;
  display:flex;
}


#container {
    width: 900px;
    height: 600px;
    position: relative;
    background: rgb(32, 32, 31);
    display: flex;
  }
  #monstersContainer {  
    width: 100px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(4, 1fr);    
    position: absolute;
    left: 50px;
  }
  .monster {
    width: 40px;
    height: 40px;    
    background-color: rgb(25, 127, 46);
    margin: 9px;
  }
