@import url(https://fonts.googleapis.com/css?family=Press+Start+2P);

@keyframes jump {
	0% {transform: translateY(0)}
	100% {transform: translateY(-35px)}
}

body {
	font-family: "Press Start 2P";
	background-image: url(https://i.pinimg.com/originals/7e/75/cb/7e75cb0b7617713cfaf93b12c7c71381.gif);
	padding-top: 35vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #1C1E20;
  background-position: center;
  color: blue;
}
#container {
  display: flex;
  flex-direction: column;
  align-items: center;

}
h1 {
  animation: color-change2 1s infinite;
  text-shadow: 2px 0 #fff, -2px 0 #fff, 0 2px #fff, 0 -2px #fff,
             1px 1px #fff, -1px -1px #fff, 1px -1px #fff, -1px 1px #fff;
}
a {
  text-decoration: none;
}
.jumpy {
	font-size: 7vw;
	text-align: center;
	letter-spacing: -.45em;
	color: blue;
}
.letter {
  display: inline-block;
  animation: jump 500ms infinite ease-out alternate;
  /* animation: color-change2 1s infinite; */
  text-shadow: 2px 0 #fff, -2px 0 #fff, 0 2px #fff, 0 -2px #fff,
             1px 1px #fff, -1px -1px #fff, 1px -1px #fff, -1px 1px #fff;
  color: blue;
}
.win {
  animation: color-change 1s infinite;
  font-size: 100px;
}

@keyframes color-change {
  0% { color: red; }
  50% { color: blue; }
  100% { color: red; }
}

@keyframes color-change2 {
  0% { color: rgb(195, 5, 163); }
  50% { color: rgb(80, 179, 240); }
  100% { color: rgb(195, 5, 163); }
}
